h1{text-align: center; font-family: "Times New Roman"; background-color: #a9d863; color: #426493;}
h2{color: #d8222b;}
body {font-family: Helvetica; background-color: #d88e63; color: #d8227d;}
#Untertitel {font-family:"Courier"; background-color: #d9f442; font-size: 30}
#Liste {font-family: "Comic Sans"; background-color: #ac41f4; font-size: 35}
.redcolor {font-size: 50; font-family: Arial; background-color:#c68181}
hr {color: #110a0f;}
h3{color: #4245f4; text-align: center; font-family: "Comic Sans"; background-color: #c141f4; font-size: 55;}
